

<!-- Footer ->
<footer class="container-fluid nav-social ">
  <div class="row footer-padding justify-content-center align-items-start">
    <div class="footer-col col-12 col-md-3  footer-left text-center padding-10-tb"> <img src="images/THE SEMIOTICS-WHITE.png" class="footer-logo img-fluid text-center" alt="logo-white" width="180"><br>
      <h7 class="copyright">©2017 copyright thesemfashion</h7>
    </div>
    <div class="footer-col col col-md-6 text-center padding-10-tb">
      <div class="col menu-left text-center">
        <h7>The Semiotics aims to make make high quality goods to the standard of luxury leather or organic materials afforable</h7>
        <ul class="nav menu-items justify-content-center">
          <li class="active"><a href="#"><span class="navfont-footer">About</span></a></li>
          <li><a href="#"><span class="navfont-footer">Archive</span></a></li>
          <li><a href="#"><span class="navfont-footer">Press</span></a></li>
          <li><a href="#"><span class="navfont-footer">Contact</span></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-col col col-md-3 padding-10-tb">
      <h3 class="text-center">Follow Us</h3>
      <div class="col footerbottom-social-icons">
        <ul class="footer-social-icons">
          <li><a href="" class="footer-social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="footer-social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="footer-social-icon"> <i class="fa fa-rss"></i></a></li>
          <li><a href="" class="footer-social-icon"> <i class="fa fa-youtube-play"></i></a></li>
          <li><a href="" class="footer-social-icon"> <i class="fa fa-instagram"></i></a></li>
          <li><a href="" class="footer-social-icon"> <i class="fa fa-medium"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-padding text-center justify-content-center">
    <div class="col">
      <h5> <span style="color: grey"> Designed and developed by </span> tinestudios.com.au </h5>
    </div>
  </div>
</footer>-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="custom-bootstrap4.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>